{% extends 'micuenta/main.html' %}

{% block content %}

	{% include 'micuenta/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>USUARIO</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Crear / Modificar Usuario</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Nombre</th>
					<th>Empresa </th>
					<th>Grupo </th>
					<th>SubGrupo </th>
				</tr>

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>PARTIDAS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Agregar partidas extrahordinarias</a>
			<table class="table table-sm">
				<tr>
					<th>Fecha</th>
                    <th>Tipo partida</th>
					<th>Cantidad </th>
					<th>Monto </th>
					<td><a class="btn btn-sm btn-info" href="">Update</a></td>
					<td><a class="btn btn-sm btn-danger" href="">Delete</a></td>
				</tr>

			</table>
		</div>
	</div>

</div>



{%endblock %}