{%  extends 'micuenta/main.html' %}
{%  block content %}
    <h1>Empleo</h1>
            <br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Empleo</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Fecha Ingreso</th>
                    <th>Salario Nominal</th>
                    <th>Nombre empresa</th>
                </tr>

                {% for i in empleo_registro %}
                    <tr>
                        <td>{{i.fecha_ingreso }}</td>
                        <td>{{i.salario_nominal }}</td>
                        <td>{{i.nombre_empresa }}</td>

                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>
{%  endblock content %}