{%  extends 'micuenta/main.html' %}
{%  block content %}
    <h1>Historial</h1>
            <br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Mes_(menu desplegable)</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Recibo del mes seleccionado</th>
                </tr>

                {% for empleo in empleo %}
                    <tr>
                        <td>{{empleo.fecha_ingreso }}</td>
                        <td>{{empleo.salario_nominal }}</td>
                        <td>{{empleo.nombre_empresa }}</td>

                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>
{%  endblock content %}